{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

<body class="presentation-page bg-gray-200">
{% include 'includes/navigation-transparent.html' %}

<header>
  <div class="page-header min-height-400" style="background-image: url('/static/assets/img/city-profile.jpg');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-8"></span>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
  <!-- START Testimonials w/ user image & text & info -->
   <section class="py-sm-7 py-5 position-relative">
    <div class="container">
      <div class="mt-n8 mt-md-n9 text-center">
              <img class="avatar avatar-xxl shadow-xl position-relative z-index-2" src="/static/assets/img/caneta.jpg" alt="" loading="lazy">
      </div>
      <div class="row py-6">
          <div class="">

              <h2>Lista de Livros</h2>
              {% if list_books %}
              <div class="card-body">
                {% for book in list_books %}
                  <div class="columnar col-md-11 mt-2">
                    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
                  </div>
                {% endfor %}
              </div>
              {% else %}
                <p>Nenhum livro foi cadastrado ainda.</p>
              {% endif %}

              {% block pagination %}
                      {% if is_paginated %}
                          <div class="pagination">
                              <span class="page-links">
                                  {% if page_obj.has_previous %}
                                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                  {% endif %}
                                  <span class="page-current">
                                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                  </span>
                                  {% if page_obj.has_next %}
                                      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                                  {% endif %}
                              </span>
                          </div>
                      {% endif %}
              {% endblock %}
          </div>

      </div>
    </div>
  </section>
  <!-- END Testimonials w/ user image & text & info -->
</div>
<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
<!-- START Blogs w/ 4 cards w/ image & text & link -->

</div>
    <!-- END Blogs w/ 4 cards w/ image & text & link -->



{%endblock%}